/*estilos de los textos*/

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400&family=Merriweather:ital,wght@0,400;1,700;1,900&display=swap');
/*tamaño de texto*/

h1, h2, h3, h4, h5, h6, a, p, li, strong, em, figcaption, q, blockquote{
    font-size:16px}
        
    html, body{
        font-size:16px
    }
    
/* estilo de texto
h1 {font-size:0,8em;}
h2 {font-size:2em;}
h3 {font-size:1.8em;}
h4 {font-size:1.6em;}
h5 {font-size:1.5em;}
h6 {font-size:1.1em;}
*/
    
    /*familia y colores*/

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif, verdana;
    color: dodgerblue;
    text-transform: capitalize
}
  
a, p, li, strong, em, figcaption, q, blockquote {
    font-family: 'Inconsolata', monospace, verdana;
    color: grey;
    font-size: 16px;
    color: black;
   }
/*colores específicos*/
h2,strong {
      color:navy;
}
a {
    color:darkgrey;
}


    
 



       
























.agua:before {
  position: fixed;
  content: '';
  bottom: 2vh;
  right: 5vh;

  width: 56.77vh;
  height: 20vh;
  opacity: 0.2;
  background-image: url("../svg/w3c/css.svg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat; }

 /* Imagen banner de portada */
header.portada {
    width: 100%;
    height: 50vh;
    background-image: url('https://cdn.pixabay.com/photo/2020/02/09/13/08/banner-4833105_960_720.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Título centrado dentro de la imagen */
header.portada {
    position: relative;
}

header.portada h2 {
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 1em 0;
    text-align: center;
    background-color: rgba(0,0,0, 0.6);
    color: #ffffff;
}

  width: 100%;
  height: 50vh;
  opacity: 0.2;
  background-image: url("../img/bannner.svg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat; }

