*/marca de agua/

.agua:before {
  position: fixed;
  content: '';
  bottom: 2vh;
  right: 5vh;
  width: 30.02024vh;
  height: 20vh;
  opacity: 0.2;
  background-image: url("../svg/logo.svg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat; }
